@font-face {
  font-family: 'SourceSansPro-Bold';
  font-weight: 700;
  src: url(/assets/fonts/SourceSansPro-Bold.ttf);
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  font-weight: 400;
  src: url(/assets/fonts/SourceSansPro-Regular.ttf);
}